<div class="large-6 columns">
  <h2>Total Incoming: <%= number_to_currency(@receivable_balance, precision: 0) %></h2>
    <%= render 'receivable_table' %>
</div>

<div class="large-6 columns">
  <h2>Total I Owe: <%= number_to_currency(@payable_balance, precision: 0) %></h2>
    <%= render 'payable_table' %>
</div>  
