<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name + " " + @user.last_name %> has sent you an IOU! </h1>
    <p>
      You owe $
    </p>
    <p>
      To sign up, go to: <%= @url %>.
    </p>
  </body>
</html>